@model IEnumerable <CommunityAssist2018.Models.GrantType>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Community Assist</h1>
    
</div>


<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.GrantTypeKey)</th>
        <th>@Html.DisplayNameFor(model => model.GrantTypeName)</th>
        <th>@Html.DisplayNameFor(model => model.GrantTypeDescription)</th>
        <th>@Html.DisplayNameFor(model => model.GrantTypeLifetimeMaximum)</th>
    </tr>
    @foreach (var item in Model) {
    
        <tr>
            <td>@Html.DisplayFor(model => item.GrantTypeKey)</td>
            <td>@Html.DisplayFor(model => item.GrantTypeName)</td>
            <td>@Html.DisplayFor(model => item.GrantTypeDescription)</td>
            <td>@Html.DisplayFor(model => item.GrantTypeLifetimeMaximum)</td>
        </tr>
    }
</table>